* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

html::-webkit-scrollbar {
  width: 0.4rem;
}
html::-webkit-scrollbar-track {
  background: #30dd8a;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: #25aae1;
}
body {
  width: 100%;
  background: #fefefe;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}
.heading,
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  animation: animate 15s linear infinite;
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

@keyframes animate {
  0% {
    color: red;
  }
  10% {
    color: orangered;
  }
  20% {
    color: orange;
  }
  30% {
    color: rgb(198, 221, 69);
  }
  40% {
    color: yellowgreen;
  }
  50% {
    color: green;
  }
  60% {
    color: cyan;
  }
  70% {
    color: blue;
  }
  80% {
    color: darkblue;
  }
  90% {
    color: rgb(91, 0, 211);
  }
  100% {
    color: rgb(178, 0, 223);
  }
}
input {
  height: 3em;
  width: 20em;
  padding: 1em;
  border: none;
  background: #efefef;
  border-radius: 1em;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.search,
.random {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  margin-right: 2.5px;
}

.btn-hover {
  width: 4em;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  height: 3em;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

/* Main */

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}
.title {
  border-top: 1px solid rgb(220, 220, 220);
}
.meal {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}
img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-top: 10px;
}
.instructions {
    margin-top: 10px;
  margin-right: 20px;
  margin-left: 30px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.Loading{
  position: relative;
  z-index: 10000;
 display: flex ;
  justify-content: center;
align-items: center;
min-height: 100vh;
}
.Loading i{
  font-size: 200px;
  animation: loading 3s linear infinite ;
}
@keyframes loading {
0% {transform: rotate(0deg);color: #25aae1;}
100% {transform: rotate(360deg);color: #2bb673;}
  
}
